{% extends "partials/template.twig" %}

{% block content %}
    <div class="container">

        <div class="text-center mt-4">
            <h1>Starter template</h1>
            <p>If you are here I bet you successfully created the starter template</p>
            <p>Sorry for lack of docs right now but be sure to check for updates</p>
        </div>


    </div>
{% endblock %}
