RewriteEngine On

    # route all request to ../index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .*../index.php/$0 [PT]

#    prevent view of htaccess and htpassword files directly
    <Files .ht* >
    order allow,deny
    deny from all
    </Files>
